.navBar {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
    flex-direction: row;
  }
  
  .navBar .Left {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
  }
  
  .navBar .Left img {
    width: 70px;
  }
  
  .navBar .Right {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navBar a {
    color: white;
    text-decoration: none;
    margin: 20px;
  }
  
  .navBar .Right button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .navBar .Right svg {
    font-size: 40px;
  }
  
  .navBar #open {
    padding-left: 0px;
  }
  .navBar #open img {
    display: none;
  }
  
  .navBar #close img {
    display: inherit;
  }
  
  .navBar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navBar #close .hiddenLinks {
    display: none;
  }
  
  .navBar #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navBar .Right a {
      width: 70px;
    }
 
}
  @media only screen and (max-width: 600px) {
    .navBar .Right a {
      display: none;
    }
  
    .navBar .Right {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navBar .Right button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navBar .Right button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }